@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons')/*,
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');*/
}

icon, button
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  padding: .75rem;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;	/* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility;	/* Support for Safari and Chrome. */  
  -moz-osx-font-smoothing: grayscale; 	/* Support for Firefox. */
  font-feature-settings: 'liga';		/* Support for IE. */
}

icon::before, button::before{
	content:attr(class)
}

button{
	background: #52f;
	color: white;
	box-shadow:0 4px 4px rgba(0,0,0,.25);
	height: 2em;
	width: 2em;
	border:none;
	border-radius:50%;
	z-index: 1;
}

input, button {outline:none}

h1{font:normal 60px Roboto,sans-serif}
h2{font:normal 48px Roboto,sans-serif;}
h3{font:normal 32px Roboto,sans-serif}
h4{font:normal 27px Roboto,sans-serif}
h5{font:normal 24px Roboto,sans-serif}
h6{font:normal 20px Roboto,sans-serif}




.EMPTY	{display:none !important}

[ui]	{cursor:pointer;}







html,body {
	font: normal 16px Roboto, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media(max-width: 38rem){/* orientation:portrait */
	  body{ max-width:100%; overflow-x: auto; }
	  .client{ width: 200%;
	}
}

.client {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all .5s;
}

page {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border-right: 1px solid whitesmoke; */
}

roof{
    position:relative;
    height:3rem;
    z-index: 1;
    box-shadow: 0 8px 8px rgba(0,0,0,.2);
    background: #52f;
    color: white;
    text-align: right;
}

wall {
    flex: 1;
    position: relative;
    overflow: auto;
}

vault {
    padding: .5rem;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: 1.25em;
    box-shadow: 0 -.5rem .5rem white;
    z-index: 1;
}



section{
    padding: 1rem;
    position: relative;
}


.entities>.selected {
    background: #eee;
}


.scanner{
	position:absolute;
	top: 0;
	width: 100%;
	margin:auto;
	text-align:center;
}
.scanner>video{
	display:none;
}
.scanner>canvas{
	display:block;
	width:100%;
}
.scanner>button{
	padding:.5em;
	flex: 1;
}


input.key {
    flex: 1;
    margin-right: .5rem;
    text-align: center;
    border: 2px solid #52f;
    border-radius: 1.5rem;
}

input, select {
    font-size: inherit;
}

input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
    color: lightslategray;
}


[contenteditable] {
    cursor: text !important;
    border: none;
    display: block;
    /* width: 100%; */
    background: no-repeat;
}

[contenteditable]:focus, [contenteditable]:empty {
	background: white;
	/* border-bottom: 1px dashed; */
}

[contenteditable]:empty::before{
	color:lightgray; font: italic 1em sans-serif; 
}



input.credit {
    width: 3em;
}


.tag.tagged {
    border-color: #52f;
    border-radius: 1em;
}

.tag {
    color: #52f;
    display: inline-block;
    white-space: nowrap;
    margin: .2em;
    padding: .25em .5em;
    border: 1px solid transparent;
}



.tabs {
	position:absolute;
	bottom:0;
	left: 1rem;
	text-transform: uppercase;
	font-size: .9em;
}

.tab {
    display: inline-block;
    transition: all .5s;
    padding: .5em;
    color: rgba(255,255,255,.75);
    border-bottom: 3px solid transparent;
}

.tab.selected {
    /* background: white; */
    border-bottom-color: white;
    color: white;
    /* border-bottom: 4px solid white; */
}


ul.entities {
    background: white;
    border-top: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    flex: 1;
}

ul.entities>li {
    padding: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}




section.top {
    position: relative;
}

section.entry {
    width: 100%;
    display: flex;
}

section.opinions {
    text-align: left;
}

.title{font-size: 1.35em;margin:.2em 0;}

.aspect{
    margin: 1em 0;
}

.aspect>.note {
    border: none;
    width:100%;
    box-sizing:border-box;
    color: gray;
    font-style: italic;
}


.aspect>.summary {
    display: flex;
    /* vertical-align: bottom; */
}

.summary>.name{
    flex: 1;
}

.aspect>.summary>.name {
    /* font-weight: bold; */
}

img.stats {
    width: 2em;
    height: 1em;
    vertical-align: bottom;
}

section.info{
    overflow-y: auto;
}

.tags{
    font-size: .8em;
}

stars {
    display: inline-block;
    position: relative;
    color: lightgray;
}

stars:before {
    content:"★★★★★";
}

stars>stars {
    color: #6200F8;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.credit>stars {
    font: normal 1.25em/.8em sans-serif;
    margin-left: .2em;
}

.note {
    font-style: italic;
    color: #aaa;
}


.lists>ul {
	margin: 0;
	padding: 0;
	position: relative;
}

.lists>ul>li {
    display: inline-block;
    padding: .25em .5em;
    margin: .2em;
    color: #52f;
    border: 1px solid #52f;
    border-radius: 1em;
    /* color: lightgray; */
}

.lists>ul>li.selected {
    background: #52f;
    color: white;
}


.opinion {
    position: relative;
}

section.entries {
    text-align: center;
    text-decoration: underline;
    color: gray;
}

.addaspect {
    text-align: left;
    border-top: 1px dashed;
    padding: 0;
    list-style: none;
}

.item {
    padding: 1rem 0;
}

.more {
    display: inline;
    margin: .5em;
}

.name {
    display: inline;
}

ul.aspects {
    padding-left: 1rem;
    list-style: none;
    /* border-left: 1px solid #ddd; */
}

.aspects>li {
    /* margin: 1em 0; */
}

addaspect>li {
    list-style: :none;
}

scanner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

scanner>video {
    display: none;
}

scanner>canvas {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.aspect>.name::before {
    content: "★ ";
    color: #ddd;
}


ul.addaspects {
    padding: 0;
    line-height: 1.4;
    list-style: none;
}


li[ui]:hover {
    background: #eee;
}

a.entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.append>textarea {
    display: block;
    width: 100%;
    height: 24em;
    margin: 0;
    box-sizing: border-box;
    font: normal 1rem/1.4 monospace;
    background: floralwhite;
    border: none;
}

.lists>button, .append>button {
    position: absolute;
    right: 0;
    top: 0;
}

button.add {
    /* position: absolute; */
    /* right: 1rem; */
    /* top: 1rem; */
}

.append {
    margin-top: 4rem;
    position: relative;
}

.editables {
	padding:1em;
	background: whitesmoke;
}


article {
    margin: 1rem;
}

.entity>wall {
    text-align: center;
}

.fallback {
    color: gray;
    font-style: italic;
}


.tabs>.data::before	{ content: "Storage";}
.tabs>.help::before	{content: "Help";}
.tabs>.recent::before	{content: "Recent";}
.tabs>.lists::before	{content:"Lists"}
.tabs>.categories::before {content:"Categories"}

button.scan::before	{content: "camera";}
scanner>button::before	{content: "cancel"}

.title:empty::before	{content: "What's the name of this?"; }
.desc:empty::before	{content: "What kind of thing is this?"; }

.lists {
    margin: 1em;
    position: relative;
}