.EMPTY	{display:none !important}

.ui	{cursor:pointer;}


html,body {
	font-family: Roboto, sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media(max-width: 38rem){/* orientation:portrait */
	  body{ max-width:100%; overflow-x: auto; }
	  .client{ width: 200%;
	}
}

.client {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all .5s;
}

.page {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

section{
    padding: 1rem;
    position: relative;
}

article.misc {flex: 1;}


.page.entity {
    background: #eee;
    text-align: center;
    overflow-x: hidden;
}

.entities>.selected {
    background: #eee;
}


.scanner{
	position:absolute;
	top: 0;
	width: 100%;
	margin:auto;
	text-align:center;
}
.scanner>video{
	display:none;
}
.scanner>canvas{
	display:block;
	width:100%;
}
.scanner>button{
	padding:.5em;
	flex: 1;
}


input.key {
    flex: 1;
    margin-right: .25rem;
    text-align: center;
}

input,button,select {
    font-size: inherit;
}

input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
    color: lightslategray;
}


[contenteditable] {
    cursor: text !important;
    border: none;
    display: block;
    width: 100%;
    background: no-repeat;
}

[contenteditable]:focus, [contenteditable]:empty {
	background: white;
	border-bottom: 1px dashed;
}

[contenteditable]:empty::before{
	color:lightgray; font: italic 1em sans-serif; 
}



input.credit {
    width: 3em;
}
 
.find {
    padding: .25rem;
    background: #bbb;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: 1.25em;
}

.tag.tagged {
    border-color: black;
    border-radius: 6px;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    margin: .2em;
    padding: .2em .5em;
    border: 1px solid transparent;
}


.tabs {
    background: #ccc;
    border-bottom: .2rem solid black;
    text-align: left;
    padding: .5rem;
}

.tab {
    display: inline;
    padding: .6em 1em;
    font-weight: bold;
    text-transform: lowercase;
}

.tab.selected {
    background: black;
    color: white;
}


ul.entities {
    background: white;
    border-top: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    flex: 1;
}

ul.entities>li {
    padding: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
}




section.top {
    position: relative;
}

section.entry {
    width: 100%;
    display: flex;
}

section.opinions {
    text-align: left;
}

.title{font: bold 1.5em sans-serif; margin:.2em 0;}

.aspect{
    margin: 1em 0;
    /* font-family: Georgia; */
}

.aspect>.note {
    border: none;
    width:100%;
    box-sizing:border-box;
    color: gray;
    font-style: italic;
}


.aspect>.summary {
    display: flex;
    vertical-align: baseline;
}

.summary>.name{
    flex: 1;
}

.aspect>.summary>.name {
    font-weight: bold;
}

img.stats {
    width: 2em;
    height: 1em;
    vertical-align: bottom;
}


article.entity, article.welcome {
    padding: 1em;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.info{
    overflow-y: auto;
}

.tags{
    font-size:.75em;
}

stars {
    display: inline-block;
    position: relative;
    color: lightgray;
}

stars:before {
    content: "★★★★★";
}

stars>stars {
    color: lightslategray;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.credit>stars {
    font: normal 1.5em/1em sans-serif;
    margin: -.2em 0 .2em .2em;
}

.note {
    font-style: italic;
}



.add{
	position:absolute;
	top: 6px;
	right: 6px;
	background:white;
	color: gray;
	border: 2px solid;
	text-align:center;
	font: bold 1.5rem/1 sans-serif;
	padding: 0 .3rem;
	border-radius: 3px;
}

.page>.lists {
    padding: .25rem 2.5rem .5rem .5rem;
    background: black;
    color: white;
    position: relative;
}

.option {
    display: inline-block;
    padding: .2em .4em;
    margin: .2em;
    border: 1px solid;
    border-radius: 8px;
    color: gray;
}

.option.selected {
    color: white;
}


.opinion {
    position: relative;
}

section.entries {
    text-align: center;
    text-decoration: underline;
    color: gray;
}

.desc {
    /* font-weight: bold; */
}


.info {
    flex: 1;
    overflow-y: auto;
}

article {
    flex: 1;
    position: relative;
}

.addaspect {
    text-align: left;
    border-top: 1px dashed;
    padding: 0;
    list-style: none;
}

.item {
    padding: 1rem 0;
}

.more {
    display: inline;
    margin: .5em;
}

.name {
    display: inline;
}

ul.aspects {
    padding-left: 1rem;
}

.aspects>li {
    margin: 1em 0;
}

addaspect>li {
    list-style: :none;
}

scanner {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

scanner>video {
    display: none;
}

scanner>canvas {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.category {
    font-weight: bold;
    text-decoration: underline;
}


ul.addaspects {
    background: white;
    padding: 1px 1rem;
    list-style: none;
}


.tabs>.recent::before {content:"Recent"}
.tabs>.lists::before {content:"Lists"}
.tabs>.cats::before {content:"Categories"}

button.scan::before {content: "Scan"}
scanner>button::before {content: "cancel"}

.title:empty::before{content: "What's the name of this?"; }
.desc:empty::before{content: "What kind of thing is this?"; }

.more::before {content: "•••";/* background: gray; *//* color: white; *//* padding: 0 .5em; *//* border-radius: .25rem; */}
.add::before {content: "+"}





section.editables {
    background: #ddd;
    /* background: white; */
    /* color: white; */
    /* margin: 1rem; */
}

li.ui:hover {
    /* background: whitesmoke; */
    background: linear-gradient(to right, #eee, white);
}

a.entry {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}