.EMPTY	{display:none !important}

.ui	{cursor:pointer;}
.ui:hover{/* text-decoration:underline */}



html,body {
	font-family: sans-serif;
	height: 100%;
	padding: 0;
	margin: 0;
}

@media(max-width: 38rem){/* orientation:portrait */
	  body{ max-width:100%; overflow-x: auto; }
	  .client{ width: 200%;
	}
}


.client {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all .5s;
}

.page {
    flex: 1;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* flex-grow: inherit; */
    display: flex;
    flex-direction: column;
}

section{
    padding: 1rem;
}

article.misc {flex: 1;}


.page.entity {
    background: whitesmoke;
    text-align: center;
}

.entities>.selected {
    background: whitesmoke;
}






.scanner{
	position:absolute;
	top: 0;
	width: 100%;
	margin:auto;
	text-align:center;
}
.scanner>video{
	display:none;
}
.scanner>canvas{
	display:block;
	width:100%;
}
.scanner>button{
	/* display:block; */
	/* width:100%; */
	padding:.5em;
	flex: 1;
}
.scanner>button.cancel::before{
	content:"Cancel";
}

button.scan:before {
    content: "Scan";
}


input.key {
    flex: 1;
    margin-right: .25rem;
    text-align: center;
    /* border: navajowhite; */
}

input,button,select {
    font-size: inherit;
}
input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
    color: lightslategray;
}

[contenteditable], .editables>input {
    cursor: text !important;
    border: none;
    display: block;
    width: 100%;
    background: no-repeat;
}

[contenteditable]:focus, .editables>input:focus {
	    background: white;
}
input.credit {
    width: 3em;
}

article:before {
    top: 0;
    position: absolute;
    right: 0;
    color: lightblue;
    padding: 0 .2em;
    /* content: attr(class); */
}

.find {
    padding: .25rem;
    background: orange;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    font-size: 1.25em;
}

.tag.tagged {
    border-color: black;
    border-radius: 6px;
}

.tag {
    display: inline-block;
    white-space: nowrap;
    margin: .2em;
    padding: .2em .5em;
    border: 1px solid transparent;
}


.tabs {
    text-align: left;
    padding: .5em;
    margin-bottom: -1px;
}

.tabs:before {
    content: "*";
    margin-right: 1em;
    font: bold 1em sans-serif;
    color: lightslategray;
}

.tab {
    display: inline;
    padding: .5em;
    font-weight: bold;
    text-transform: lowercase;
}

.tab.selected {
    background: black;
    color: white;
}


ul.entities {
    background: white;
    border-top: none;
    padding: 0;
    margin: 0;
    text-align: left;
    width: 100%;
    /* overflow: hidden; */
}

ul.entities>li {
    /* display: block; */
    padding: .75em;
    /* width: 100%; */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}




section.entry {
    width: 100%;
    display: flex;
}

.title{font: bold 1.5em sans-serif;}


.aspect{
    margin: 1.5em 0;
    text-align: left;
    font-family: Georgia;
}

.aspect>.note {
    border: none;
    width:100%;
    box-sizing:border-box;
    color: gray;
    font-style: italic;
}


.aspect>.summary {
    display: flex;
    flex: 1;
    vertical-align: baseline;
}

.summary>.name {
    flex: 1;
    font-weight: bold;
}

img.stats {
    width: 2em;
    height: 1em;
    vertical-align: bottom;
}


article.entity, article.welcome {
    padding: 1em;
    overflow-y: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

section.info{
    overflow-y: auto;
}

.tags{
    font-size:.75em;
}

stars {
    display: inline-block;
    position: relative;
    color: lightgray;
}

stars:before {
    content: "★★★★★";
}

stars>stars {
    color: lightslategray;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.credit>stars {
    font: normal 1.5em/1em sans-serif;
    margin: -.2em 0 .2em .2em;
}

button.moreinfo, button.lessinfo {
    border:none;
    background:none;
    text-align: right;
    padding: 0;
}

.note {
    font-style: italic;
}

section.top {
    position: relative;
}




/*

button.addlist:before {
    content: "Создать новый список";
}

button.addcat:before {
    content: "Создать новую категорию";
}
*/

.add{
	position:absolute;
	top: 6px;
	right: 6px;
	/* background:white; */
	/* width: 1.5rem; */
	text-align:center;
	font: bold 1.5rem/1 sans-serif;
	border: none;
	padding: 0 .3rem;
	border-radius: 3px;
}

.add:before {
    content: "+";
}

.select {
    padding: .5em 2em .5em .5em;
    background: black;
    color: white;
    position: relative;
}

.option {
    display: inline-block;
    padding: .2em .4em;
    margin: .2em;
    border: 1px solid;
    border-radius: 8px;
    color: gray;
}

.option.selected {
    color: white;
}


.opinion {
    position: relative;
}

section.entries {
    text-align: center;
    text-decoration: underline;
    color: gray;
}

.desc {
    font-weight: bold;
}


.info {
    flex: 1;
    overflow-y: auto;
}

input.key {
    /* border: none; */
}

article {
    flex: 1;
    position: relative;
}

button.scan {
    /* background: white url(barcode.gif); */
    /* width: 4em; */
}

input:empty {
    /* background: white; */
}

.scanner>button.pause::before {content: "Pause";}

.addaspect {
    text-align: left;
    /* background: white; */
    border-top: 1px dashed;
    padding: 0;
    list-style: none;
}

.item {
    padding: 1rem 0;
}

.more::before {content: "•••";/* background: gray; *//* color: white; *//* padding: 0 .5em; *//* border-radius: .25rem; */}

.more {
    display: inline;
    margin: .5em;
}

.name {
    display: inline;
}

ul.aspects {
    padding-left: 1rem;
}

.aspects>li {
    margin: .5em 0;
}

addaspect>li {
    list-style: :none;
}

scanner {
    /* border: 1rem solid red; */
    position: absolute;
    /* margin: auto; */
    top: 0;
    width: 100%;
    text-align: center;
}

scanner>video {
    display: none;
}

scanner>canvas {
    display: block;
    border: .5rem solid red;
    margin: 2rem auto;
}

scanner>button::before {content: "cancel";}