.EMPTY	{display:none !important}

.ui	{cursor:pointer;}
.ui:hover{text-decoration:underline}



html,body {
padding: 0;
height: 100%;
margin: 0;
}

body{
font: normal 14px sans-serif;
max-width: 48em;
}

.scanner{
	position:absolute;
	top: 0;
	width: 100%;
	margin:auto;
	text-align:center;
}
.scanner>video{
	display:none;
}
.scanner>canvas{
	display:block;
	width:100%;
}
.scanner>button{
	display:block;
	width:100%;
	padding:.5em;
}
.scanner>button::before{
	content:"Cancel";
}

.title{font: bold 1.75em sans-serif;}

button.addlist:before {
    content: "Создать новый список";
}

button.addcat:before {
    content: "Создать новую категорию";
}

button.addaspect:before {
    content: "Добавить аспект";
}

button.addnote:before {
    content: "!";
    font-family: wingdings;
}

button.scan:before {
    content: "Scan";
}


.client {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    /* padding: 1px 0; */
    box-sizing: border-box;
    background: whitesmoke;
    position: relative;
}

input.key {
    flex: 1;
    margin-right: .5em;
}

input,button,select {
    font-size: inherit;
}
input {
    text-align: inherit;
}

input[type=number] {
    text-align: right;
}

input::placeholder {
    font: italic 1em sans-serif;
    color: lightslategray;
}

[contenteditable], .editables>input {
    border: none;
    display: block;
    width: 100%;
    border-bottom: 1px dotted lightslategray;
    cursor: text !important;
    padding: .1em;
    box-sizing: border-box;
}

input.credit {
    width: 3em;
}

article {
    /* position: relative; */
    /* margin: 1em 0; */
}

article:before {
    top: 0;
    position: absolute;
    right: 0;
    color: lightblue;
    padding: 0 .2em;
    /* content: attr(class); */
}

article.find {
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
    padding: .5em;
    background: burlywood;
    box-sizing: border-box;
    display: flex;
    font-size: 1.5em;
    margin: 0;
}

.tagged {
    background: lightslategray;
}

.tag {
    display: inline;
    margin: .2em;
    padding: .2em .5em;
}


.tabs {
    text-align: left;
    padding: .25em;
    border-bottom: 2px solid lightslategray;
}

.tabs:before {
    content: "►◄ REPCH";
    margin-right: 1em;
    font: bold 1em sans-serif;
    color: lightslategray;
}

.tab {
    display: inline;
    padding: .5em;
}

.tab.selected {
    background: lightslategray;
}

header {
    display: flex;
    background: lightslategray;
    padding: .25em;
    margin: 0;
}

header>select {
    flex: 1;
    margin-right: .5em;
}


ul.entities {
    border: 3px solid lightslategray;
    background: white;
    border-top: none;
    padding: 1em;
    margin: 0;
    list-style: none;
    text-align: left;
}


section.entry {
    width: 100%;
    display: flex;
}

.aspect{
    /* border-bottom: 1px solid lightslategray; */
    margin: 2em 0;
    text-align: left;
}
.aspect>.summary {
    display: flex;
    /* margin: .5em; */
}


.aspect>.note {
    /* display: block; */
    border: none;
    width:100%;
    box-sizing:border-box;
    /* padding: .2em; */
    color: gray;
    font-style: italic;
}


.aspect>.summary {
    display: flex;
    flex: 1;
    vertical-align: baseline;
}

.summary>.name {
    flex: 1;
    font: bold 1.1em sans-serif;
    color: lightslategray;
}

img.stats {
    width: 2em;
    height: 1em;
    /* margin: 0 1em; */
    vertical-align: bottom;
}




article.entity, article.welcome {
    padding: 1em;
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* font-size: 1.4em; */
}

section.tags{
    /* font-size:.75em */
}

section.tags, section.editables {
    margin: 1em 0;
    text-align: center;
}



stars {
    display: inline-block;
    position: relative;
    color: lightgray;
}

stars:before {
    content: "★★★★★";
}

stars>stars {
    color: lightslategray;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.credit>stars {
    font: normal 2.5em/1em sans-serif;
    margin: -.4em 0 0 .2em;
}


.moreinfo:before {
    content: "Показать аспекты ▼";
}

.lessinfo:before {
    content: "Скрыть аспекты ▲";
}

button.moreinfo, button.lessinfo {
    border:none;
    background:none;
    text-align: right;
}

.note {
    font-style: italic;
}

section.top {
    /* border: 3px solid lightslategray; */
}

.entities>li {
    display: inline-block;
    padding: .5em;
    margin: .25em;
}